<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363823258532-mplnfan5hl342fno6g7vqhjtnrbbq7n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363823258532-mplnfan5hl342fno6g7vqhjtnrbbq7n4</string>
	<key>API_KEY</key>
	<string>AIzaSyBabGtXnm3pQxms3xWiqmVgnS6X2YDwhCQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363823258532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.questDemo</string>
	<key>PROJECT_ID</key>
	<string>quest-demo-12845</string>
	<key>STORAGE_BUCKET</key>
	<string>quest-demo-12845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363823258532:ios:771ec6b261919dfddeff31</string>
</dict>
</plist>